@define-color text            #ffffff;
@define-color background      #000000;
@define-color background-alt  #111111;
@define-color selected        #ffffff;
@define-color hover           rgba(255,255,255,0.15);
@define-color urgent          #ff5555;

* {
  color: @text;

  all: unset;
  font-size: 14px;
  font-family: "Inter";
  transition: 200ms;
}

.notification-row {
  outline: none;
  margin: 0;
  padding: 0;
}

.floating-notifications.background .notification-row .notification-background {
  background: rgba(0, 0, 0, 0.95);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0);
  border: None;
  border-radius: 8px;
  margin: 16px;
  padding: 0;
}

.floating-notifications.background .notification-row .notification-background .notification {
  padding: 6px;
  border-radius: 12px;
}

.floating-notifications.background .notification-row .notification-background .notification.critical {
  border: 2px solid @urgent;
}

.floating-notifications.background .notification-row .notification-background .notification .notification-content {
  margin: 14px;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * {
  min-height: 0em;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * .notification-action {
  background: @background-alt;
  color: @text;
  border: None;
  border-radius: 8px;
  margin: 6px;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * .notification-action:hover {
  background: @selected;
  color: @background;
  border: None;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * .notification-action:active {
  background: @selected;
  color: @background;
}

.image {
  margin: 10px 20px 10px 0;
}

.summary {
  font-weight: 800;
  font-size: 1rem;
}

.body {
  font-size: 0.8rem;
}

.floating-notifications.background .notification-row .notification-background .close-button {
  margin: 6px;
  padding: 2px;
  border-radius: 6px;
  background: transparent;
  border: None;
  color: @text;
}

.floating-notifications.background .notification-row .notification-background .close-button:hover {
  background: @selected;
  color: @background;
}

.floating-notifications.background .notification-row .notification-background .close-button:active {
  background: @selected;
  color: @background;
}

.notification.critical progress {
  background: @urgent;
}

.notification.low progress,
.notification.normal progress {
  background: @selected;
}